@using System.Text.Json;
@using Utility;
@model Models.Orders
@{
    var orderStatus = "";
}
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: black;
    }

    .required:after {
        content: " *";
        color: red;
    }
</style>
<div class="container">
    <div class="card card-light">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">Ordered Aircraft Information</h3>

        </div>
        <div class="card-body">
            <table id="tblData" class="table table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th>Aircraf</th>
                        <th>Aircraf Code</th>
                        <th>Aircraf Name</th>
                        <th>Aircraf Model</th>
                        <th>Aircraf Category</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="card card-light">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">Ordered Aircraft Customozation Information</h3>

        </div>
        <div class="card-body">
            <table id="tblData1" class="table table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th>Customzation Type</th>
                        <th>Customzation Value</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>




<div class="container">
    <div class="card">
        <div class="card-header bg-gradient-lightblue">
            <h3 class="card-title" style="font-weight:bold">Order Process </h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">

                <input type="hidden" id="Id" asp-for="Id" value="@Model.Id" />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="col-md-12 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Order Information
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-8">
                                    <h4><b>Order No: </b>@Model.Id </h4>
                                    <h6><b>Order Date: </b>@Model.OrderDate </h6>
                                    <h6><b>Customer: </b>@Model.User.UserName </h6>
                                    <h6><b>Paid Amount : </b>RS. @Model.TotAmount.00 </h6>
                                    <h4 class="text-green"><b>Order Status: </b>@Model.OrderStatus</h4>
                                </div>
                                <div class="col-4">
                                    <h6><b><u>Shipping Information</u></b></h6>
                                    <h6><b>First Name: </b>@Model.ShippingDetail.FirstName </h6>
                                    <h6><b>Last Name: </b>@Model.ShippingDetail.LastName </h6>
                                    <h6><b>Email: </b>@Model.ShippingDetail.Email </h6>
                                    <h6><b>Mobile : </b>@Model.ShippingDetail.Mobile</h6>
                                    <h6><b>Address : </b>@Model.ShippingDetail.Address</h6>
                                    <h6><b>City : </b>@Model.ShippingDetail.City</h6>
                                    <h6><b>PostCode : </b>@Model.ShippingDetail.PostCode </h6>
                                </div>
                            </div>
                            <br />

                        </div>

                        <div class="card-header text-muted border-bottom-0">

                        </div>



                        <div class="card-footer">
                            <div class="text-right">

                                <div class="row">
                                    <div class="col">
                                        @if (Model.OrderStatus == SD.JobAssigned)
                                        {
                                            <input type="hidden" asp-for="OrderStatus" value="@SD.OnProcess" />
                                            <button type="submit" class="btn btn-warning form-control">Mark As OnProcessing</button>

                                        }
                                        else if (Model.OrderStatus == SD.OnProcess)
                                        {
                                            <input type="hidden" asp-for="OrderStatus" value="@SD.Manufacturing" />
                                            <button type="submit" class="btn btn-warning form-control">Mark As Manufacturing</button>
                                        }
                                        else if (Model.OrderStatus == SD.Manufacturing)
                                        {
                                            <input type="hidden" asp-for="OrderStatus" value="@SD.Completed" />
                                            <button type="submit" class="btn btn-primary form-control">Mark As Manufacturing Completed</button>

                                        }
                                        else if (Model.OrderStatus == SD.Completed)
                                        {
                                            <input type="hidden" asp-for="OrderStatus" value="@SD.Delivered" />
                                            <button type="submit" class="btn btn-primary form-control">Mark As Delivered</button>
                                        }
                                        else
                                        {

                                        }

                                    </div>
                                    <div class="col">
                                        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </form>
        </div>
    </div>
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/bundles/dataTables.min.css">
    <link rel="stylesheet" href="~/css/bundles/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/bundles/toastr.min.css">
}

@section Scripts{

    <script src="~/js/bundles/dataTables.min.js"></script>
    <script src="~/js/bundles/sweetalert2.min.js"></script>
    <script src="~/js/bundles/toastr.min.js"></script>
    <script src="~/js/custom/customozation/ordercustomozation.js"></script>
    <script>
        "use strict";
        let userTable;
        var id = document.getElementById("Id").value;
        console.log(id);
        $(function () {
            userTable = app.module.controls.load();
        });

        let app = {
            module: {
                controls: {
                    load: function () {
                        return $("#tblData").DataTable({
                            ajax: {
                                url: "/Main/Order/GetOrderDetailAll?id=" + id,
                            },
                            scrollX: true,
                            columns: [
                                {
                                    data: "url",
                                    render: function (data, type, row) {

                                        return '<img src="' + data + '" alt="' + data + '"height="50" width="50"/>';;
                                    },
                                    autoWidth: true
                                },
                                { data: "code", autoWidth: true },
                                { data: "name", autoWidth: true },
                                { data: "model", autoWidth: true },
                                { data: "category", autoWidth: true },
                                { data: "qty", autoWidth: true },
                            ],
                        });
                    },
                },
            },
        };</script>
}
