@using System.Text.Json;
@using Utility;
@model Models.ViewModels.CartVM
@{ double tot = 0;
    var count = Model.CartDetailList == null ? 0 : Model.CartDetailList.Count(); }

<section class="populer-products">
    <div class="card card-solid">
        <div class="card-body">
            <!--cart-->
            
                <br />
                @if (count > 0)
                {
                    <input type="hidden" id="orderId" asp-for="@Model.Order.Id" value="@Model.Order.Id" />
                    <input type="hidden" id="amount" asp-for="@Model.Order.GrandTotal" value="@Model.Order.GrandTotal" />
                    <input type="hidden" id="HasKey" asp-for="@Model.HasKey" value="@Model.HasKey" />
                    <input type="hidden" id="fullname" asp-for="@Model.CustName" value="@Model.CustName" />
                    <div class="backgroundWhiteBorder">
                        <div class="container">
                            <div class="card">
                                <div class="col-6 text-right ">
                                    <ul>
                                    <li class="btn btn-primary" style="margin-bottom:10px">
                                            <a asp-area="Public" asp-controller="Home" asp-action="Index"
                                              style="color:white">Continue Shopping</a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="card-header bg-dark text-light ml-0 row container "
                                     style="background-color:orange !important; color:white !important; height:50px !important; ">
                                    <div class="col-6" style="margin-top:10px !important;">
                                        <i class="fa fa-shopping-cart"></i> &nbsp;
                                        Products
                                    </div>

                                </div>
                                <br />
                                <div class="card-body">
                                    @foreach (var item in Model.CartDetailList)
                                    {
                                        <div class="row">
                                            <div class="d-none d-lg-block col-sm-1 col-lg-1 text-center py-2">
                                                <img src="@item.Aircraft.ImgUrl" class="rounded" width="100" />
                                            </div>
                                            <div class="col-sm-6 text-sm-center col-lg-6 text-lg-left">
                                                <h5><strong>@item.Aircraft.Code</strong></h5>
                                                <p><small>@item.Aircraft.Name</small></p>
                                            </div>

                                            <div class="col-sm-5  col-lg-5 text-lg-right row">
                                                <div class="row">
                                                    <div class="col-md-8 text-md-right" style="padding-top:5px;">
                                                        <h6>
                                                            <strong>
                                                                $.@item.Price<span class="text-muted">x</span> @item.Qty
                                                            </strong>
                                                        </h6>
                                                    </div>

                                                    <!--<div class="col-md-2 col-sm-2 col-lg-2 text-right">
                                                                                            <button class="btn btn-danger" onclick="deleteQty(@item.Id)">-->
                                                    @*<i class="fas fa-trash"></i>*@
                                                    <!--<span class="lnr lnr-trash"></span>
                                                                                            </button>
                                                                                        </div>-->
                                                </div>

                                            </div>
                                        </div> tot = tot + Convert.ToDouble(item.Qty * item.Price);
                                        <hr />}



                                </div>

                                @foreach (var item in Model.ShippingDetailList)
                                {
                                    <div class="card-body">
                                        <div class="panel panel-default aa-checkout-billaddress">
                                            <div class="panel">
                                                <h3 class="panel-title btn btn-info">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="color:white">
                                                        Billing Details / Shippping Address
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse">
                                                <div class="panel-body">
                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                            <label class="required">First Name</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="required">@item.FirstName</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                            <label class="required">Last Name</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="required">@item.LastName</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                            <label class="required">Email</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="required">@item.Email</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                            <label class="required">Mobile</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="required">@item.Mobile</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                            <label class="required">Country</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="required">@item.City.Name</label>
                                                        </div>
                                                    </div>


                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                            <label class="required">Address</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="required">@item.Address</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                            <label class="required">City</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="required">@item.Country</label>
                                                        </div>
                                                    </div>


                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                            <label class="required">Post Code</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="required">@item.PostCode</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>}



                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-0 col-md-6 col-lg-6">

                                    </div>
                                    <div class="col-sm-12 col-md-6  col-lg-6  float-right">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between bg-light float-right">
                                                <span class="text-info"> Total</span>
                                                <strong class="text-info">
                                                    <span id="txtOrderTotal">$.@tot</span>
                                                </strong>
                                            </li>
                                        </ul>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-sm-0 col-md-6 col-lg-6">

                                    </div>

                                    <div class="col-sm-12 col-md-6  col-lg-6  float-right">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between bg-light float-right">
                                                <span class="text-info"> Shipping Amount</span>
                                                <strong class="text-info">
                                                    <span id="txtOrderTotal">$.@Model.Order.ShippingAmount</span>
                                                </strong>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-0 col-md-6 col-lg-6">

                                    </div>

                                    <div class="col-sm-12 col-md-6  col-lg-6  float-right">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between bg-light float-right">
                                                <span class="text-info"> Grand Total</span>
                                                <strong class="text-info">
                                                    <span id="txtOrderTotal">$.@Model.Order.GrandTotal</span>
                                                </strong>
                                            </li>
                                        </ul>
                                    </div>

                                </div>






                                <div class="card-footer row">

                                    <div class="col-sm-0 col-md-6 col-lg-6">
                                        
                                    </div>
                                    <div class="col-sm-12 col-lg-6 col-md-6 ">
                                        <input type="hidden" asp-for="Carts.Id" />
                                        @*<button type="submit" class="btn btn-success form-control">Payment</button>*@
                                        <button type="submit" onclick="getHas();" class="btn btn-success form-control"
                                                id="payhere-payment">
                                            Approve / Pay Online
                                        </button>
                                        @*<button type="submit" id="payhere-payment">PayHere Pay</button>*@
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div> }
                else
                {
                    <div>There are no items in the shopping cart.</div>}
           
        </div>

    </div>
</section>
<br />

@section Scripts{

    <script>
        function AddQty(v) {
            console.log(v);
            window.location.href = "/Public/Home/plus/" + v;
        };
        function deductQty(v) {
            console.log(v);
            window.location.href = "/Public/Home/minus/" + v;
        };
        function deleteQty(v) {
            console.log(v);
            window.location.href = "/Public/Home/remove/" + v;
        };
    </script>

    <script type="text/javascript" src="https://www.payhere.lk/lib/payhere.js"></script>
    <script>
        var id = $('#orderId').val();
        var amount = Number($('#amount').val());

        var name = $('#fullname').val();
        var phoneno = $('#phoneno').val();
        var haskey = $('#HasKey').val();
        // Payment completed. It can be a successful failure.
        payhere.onCompleted = function onCompleted(orderId) {
            console.log("Payment completed. OrderID:" + orderId);
            window.location = "https://localhost:44349/Public/Home/AfterPayment?id=" + id;
            // Note: validate the payment and show success or failure page to the customer
        };

        // Payment window closed
        payhere.onDismissed = function onDismissed() {
            // Note: Prompt user to pay again or show an error page
            console.log("Payment dismissed");
        };

        // Error occurred
        payhere.onError = function onError(error) {
            // Note: show an error page
            console.log("Error:" + error);
        };

        // Put the payment variables here
        var payment = {
            "sandbox": true,
            "merchant_id": "1222958",    // Replace your Merchant ID
            "return_url": "https://localhost:44349/Public/Home/AfterPayment?id=" + id,     // Important
            "cancel_url": "https://localhost:44349/Public/Home/AfterPayment?id=" + id,     // Important
            "notify_url": "https://localhost:44349/Public/Home/AfterPayment?id=" + id,
            "order_id": id,
            "items": name,
            "amount": amount.toFixed(2),
            "currency": "LKR",
            "hash": haskey, // *Replace with generated hash retrieved from backend
            "first_name": "Saman",
            "last_name": "Perera",
            "email": "samanp@gmail.com",
            "phone": "0771234567",
            "address": "No.1, Galle Road",
            "city": "Colombo",
            "country": "Sri Lanka",
            "delivery_address": "No. 46, Galle road, Kalutara South",
            "delivery_city": "Kalutara",
            "delivery_country": "Sri Lanka",
            "custom_1": "",
            "custom_2": ""
        };

        // Show the payhere.js popup, when "PayHere Pay" is clicked
        document.getElementById('payhere-payment').onclick = function (e) {
            payhere.startPayment(payment);
        };
    </script>
}